body {
    margin: 0;
    padding: 0;
    background-color: #8B87BA;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #222B4C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    width: 1150px;
    height: 35px;
    margin: 50px auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: #A08013; 
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
